.sections{
    overflow-x: hidden;
    position: relative;
    height: 100vh;
    width:calc(100vw - 70px);
    top: 0;
    left: 70px;
    background-color: white;
    scroll-snap-type: y mandatory;
}
.sections::-webkit-scrollbar{
    display: none;
}
.sections > *{
    height: 100vh;
    width:calc(100vw - 70px);;
    scroll-snap-align: start;
}